body{
background-image: url(../ProjectImages/background.jpg);
background-repeat: repeat;
background-size: cover;
}

.Logo{
  grid-area: Logo;
  margin-top: 8px;
  margin-left: 8px;
}

#Footer{
  text-align: center;
}

#home{
  background-color: #cc99ff;
  border-radius: 2px;
}

#two{
  width: 30%;
  height: 10%;
}

.AboutMe{
  text-align: center;
}
